* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    background-color: skyblue;
    color: #555;
    font-family: 'Lato','Arial',sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
}
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    }
    .btn:link,
    .btn:visited,
    input[type=submit]{
        display: inline-block;
        font-weight: 300;
        padding: 10px 30px;
        text-decoration: none;
        border-radius: 200px;
        color: #fff;
        transition: background-color 0.2s,border 0.2s,color 0.2s;
    }
    .btn-full:link,
    .btn-full:visited,
    input[type=submit]{
        background-color: blue;
        border: 1px solid blue;
        margin-right: 15px;
    }
    .btn-ghost:link,
    .btn-ghost:visited{
        border: 1px solid blue;
        color: blue;
    }
    .btn:hover,
    .btn:active
    input[type=submit]:hover,
    input[type=submit]:active{
        background-color: blue;
    }
    .btn-full:hover,
    .btn-full:active,
    input[type=submit]:hover,
    input[type=submit]:active{
        border: 1px solid blue;
    }
    .btn-ghost:hover,
    .btn-ghost:active{
        border: 1px solid blue;
        color: #fff;
    }
    .hero-text-box{
        position: absolute;
        width: 1140px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
.img{
    border-radius: 50%;
    height: 400px;
    margin-left: 750px;
    margin-top: 130px;
    border: blue solid 3px;
}
.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 250px;
    margin-top: 20px;
    font-size: 20px;
    color: rgb(3, 178, 247);
}
#about{
    margin-top: 150px;
    background-color: aquamarine;
    border-radius: 50%;
    height: 425px;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}
.box{
    padding: 1%;
}
section{
    padding: 80px 0;
}
.span-1-of-4 {
	width: 23%; }
.col {
    padding-left: 50px;
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.newh{
    margin-top: 30px;
    text-align: center;
    font-weight: bolder;
}
.logo{
    height: 150px;
    width: 150px;
}