*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    min-height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
}
h1{
    color: #fff;
    font-size: 3.8rem;
}
.video-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -2;
}
header::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: -1;
}
.switch-btn{
    position: absolute;
    bottom: 7%;
    left: 7%;
    width: 7rem;
    height: 2rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}
.switch-btn span{
    display: inline-block;
    padding-left: 12%;
    font-size: 1rem;
    cursor: pointer;
    text-transform: capitalize;
    color: rgb(50, 182, 235);
}
.switch{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(84, 193, 236);
    border-radius: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 0;
    display: block;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}
.slide .switch{
    left: 50%;
}
.preloader{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    display: grid;
    justify-content: center;
    align-items: center;
    visibility: visible;
    z-index: 999;
}
.hide-preloader{
    z-index: -999;
    visibility: hidden;
}