body,html{
    margin: 0;
    background: #FAF3E0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.container1{
    width: 90%;
    margin: 0 auto;
}
header{
    background: #EABF9F;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 0.3);
    overflow: hidden;
}
header::after{
    content: '';
    display: table;
    clear: both;
}
#logo{
    float: left;
    font-size: 230%;
    padding: 10px 0;
    color: #000;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
nav{
    float: right;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}
nav a{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    transition: color 0.2s;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
}
nav a:hover,
nav a:active,
#logo:active,
#logo:hover{
    color: #B68973;
}
nav a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0%;
    background-color: #B68973;
    transition: width 0.2s;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: width 0.2s;
    -moz-transition: width 0.2s;
    -ms-transition: width 0.2s;
    -o-transition: width 0.2s;
}
nav a:hover::after{
    width: 100%;
}
.toggle-btn{
    position: absolute;
    top: 1.15rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-btn .bar{
    height: 3px;
    width: 100%;
    background-color: #B68973;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media (max-width:600px){
    .toggle-btn{
        display: flex;
    }
    .nav-links{
        display: none;
        width: 100%;
    }
    .container{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-left:10px;
    }
    .nav-links ul{
        width: 100%;
        flex-direction: column;
    }
    .nav-links li{
        margin-left:0.5px;
        width: 100%;
    }
    .nav-links.active{
        display:flex;
    }
}
/*--------Introduction-------*/
.intro{
    background-color: #FAF3E0;
    height: 100vh;
}
.row{
    text-align: center;
}
#photo{
    background-color: #EABF9F;
    height: 100%;
    margin-top: 8%;
    margin-left: 10%;
    box-shadow: 10px 10px 8px rgb(0 0 0 / 0.5);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.img-container{
    
    background-color: #EABF9F;
    text-align: center;
}
#person-img{
    margin-top: 12%;
    height: 150px;
    width: auto;
    background-color: #EABF9F;
    border-radius: 50%;
    border: solid 2px #000;
}
#author{
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-family: 'Pacifico', cursive;
    background-color: #EABF9F;
    padding: 20px;
    
    color:#000;
}
#author::after{
    content: '';
    height: 2px;
    width: 20%;
    display: block;
    background-color: #000;
    transition: width 0.2s;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: width 0.2s;
    -moz-transition: width 0.2s;
    -ms-transition: width 0.2s;
    -o-transition: width 0.2s;
}
#job{
    text-align: center;
    color: #000;
    font-weight: 400;
    letter-spacing: 5px;
    background-color: #EABF9F;
}
#btn{
    border: 0;
    font-size: 100%;
    background-color: #EABF9F;
    padding-left: 8px;
}
#information{
    margin-left: 0;
    padding-left: 5%;
    text-align: left;
}

.hello{
    font-size: 4.2rem;
    font-weight: 400;
    font-family: 'Anton';
    letter-spacing: 8px;
}
.info h2{
    font-weight: 400;
}
.para{
    letter-spacing: 0.5px;
    font-size: 110%;

}
#btns{
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}
#mybtn-dark{
    background-color: #B68973;
    padding: 5px 25px;
    border-radius: 25px;
    color: #fff;
    border: #B68973 solid 2px;
    transition: background-color 0.2s, color 0.2s;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    -webkit-transition: background-color 0.2s, color 0.2s;
    -moz-transition: background-color 0.2s, color 0.2s;
    -ms-transition: background-color 0.2s, color 0.2s;
    -o-transition: background-color 0.2s, color 0.2s;
}
#mybtn-dark:hover,
#mybtn-dark:active{
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}
#mybtn-lgt{
    margin-left: 35px;
    background-color: #fff;
    padding: 5px 25px;
    border-radius: 25px;
    border: #000 solid 2px;
    transition: background-color 0.2s, color 0.2s;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
#mybtn-lgt:hover,
#mybtn-lgt:active{
    background-color: #B68973;
    color: #fff;
    border: 2px solid #B68973;
}
#information{
    margin-top: 10%;
}

/*----------Qualification------*/
 h1{
     color: #000;
     font-weight: 500;
     padding: 5px;
 }
#edu{
    background-color: #f5f5f5;
    height: 100%;
    width: 100%;
    align-items: center;
    padding: 2%;
}
#box{
    background-color: #FAF3E0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.295);
    height: 100%;
    text-align: center;
    padding: 35px;
    margin-bottom: 30px;
}
#details h2{
    color: #000;
    font-size: 1.2rem;
    padding: 20px;
    margin-top: 10px;
}
#details{
    padding: 2%;
}
.flip-card {
    width: 80%;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    perspective: 1000px;
    /*Removethisifyoudon'twantthe3Deffect*/
}
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-backface-visibility: hidden;
    /*Safari*/backface-visibility: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #EABF9F;
    margin-left: 28px;
    color: black;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.295);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
  
  /* Style the back side */
.flip-card-back {
    background-color: #B68973;
    color: white;
    transform: rotateY(180deg);
  }
.skills{
      background-color: #aed0eb;
}
#skill-btn{
    background-color: #fff;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    font-size: 120%;
    padding: 0.8%;
    font-weight: 500;
    margin-left: 30px;
    margin-top: 20px;

}
#port-btn{
    background-color: #FAF3E0;
    color: grey;
    border: 0;
    margin-top: 2%;
    margin-left: 8%;
    font-weight: 500;
}
#port-btn:focus{
    color: #B68973;
    font-weight: 500;
    background-color: rgb(233, 230, 230);
}
#projects{
    height: 100%;
    width: auto;
    margin: 0;
    margin-top: 2%;
}
#pro-img{
    margin: 0;
    height: 90%;
    width: 90%;
}
.pro-con{
    color: #fff;
    background-color: #B68973;
    height: 52%;
    width: 90%;
    font-weight: 200;
    text-align: left;
    padding: 10%;
    margin-left: 5%;
}
/*----footer-----*/

footer{
    background-color: #EABF9F;
    padding: 50px;
    font-size: 80%;
}
.footer-nav{
    list-style: none;
    float: left;
}
.social-links{
    list-style: none;
    float: right;
}
.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;
}
.footer-nav li:last-child,
.social-links li:last-child{
    margin-right: 0;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
     text-decoration: none;
     border: 0;
     color: #fff;
     transition: color 0.2s;
}
.footer-nav li a:hover,
.footer-nav li a:active{
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 160%;
}
.fa-facebook-f,
.fa-twitter,
.fa-google-plus-g,
.fa-instagram{
    transition: color 0.2s;
}
.fa-facebook-f:hover{
    color: #3b5998;
}
.fa-twitter:hover{
    color: #00aced;
}
.fa-google-plus-g:hover{
    color: rgb(110, 4, 4);
}
.fa-instagram:hover{
    color: rgb(194, 6, 68);
}
footer p{
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
.boxp{
    height:100%;
    width: 100%;
    margin: 4%;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.top-link{
    font-size: 1.15rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    height: 2rem;
    width: 2rem;
    place-items: center;
    display: grid;
    background-color: #B68973;
    color: #fff;
    justify-content: center;
    border-radius: 10px;
    visibility: hidden;
    z-index: -100;
    transition: background-color 0.8s;
    animation: bounce 2s ease-in-out infinite;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-animation: bounce 2s ease-in-out infinite;
    -webkit-transition: background-color 0.8s;
    -moz-transition: background-color 0.8s;
    -ms-transition: background-color 0.8s;
    -o-transition: background-color 0.8s;
}
.top-link:hover{
    background-color: brown;
    color: #fff;
}
.show-link {
    visibility: visible;
    z-index: 100;
}
@keyframes bounce{
    0% { transform: scale(1);    ; -webkit-transform: scale(1)    ; -moz-transform: scale(1)    ; -ms-transform: scale(1)    ; -o-transform: scale(1)    ;
    }
    50% { transform: scale(1.3); -webkit-transform: scale(1.3); -moz-transform: scale(1.3); -ms-transform: scale(1.3); -o-transform: scale(1.3);
}
    100%{ transform: scale(1);    ; -webkit-transform: scale(1)    ; -moz-transform: scale(1)    ; -ms-transform: scale(1)    ; -o-transform: scale(1)    ;
    }

}
.fixed-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
}