@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    background: url('img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.container{
    padding: 20px 70px;
    color: #fff;

}
.current-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.date-container{
    font-weight: 100;
}
.date-container .time{
    font-size: 70px;
}
.date-container #am-pm{
    font-size: 30px;
    margin-left: 20px;
}
.date-container .date{
    font-size: 30px;
}
.place-container{
    text-align: end;
}
.place-container .time-zone{
    font-size: 30px;
    font-weight: 100;
}
.place-container .country{
    font-size: 12px;
    font-weight: 700;
}
.current-info .other{
    display: flex;
    flex-direction: column;
    background: rgba(24,24,27,0.6);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    margin: 1px solid #eee;
}
.current-info .other .weather-item{
    display: flex;
    justify-content: space-between;
}
.future-forecast{
    background: rgba(24,24,27,0.8);
    padding: 25px;
    position: fixed;
    bottom: 0;
    display: flex;
    color: #fff;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.future-forecast .weather-forecast{
    display: flex;
}